<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.googlecode.jmxtrans" level="${JMXTRANS_LOGGING_LEVEL}"/>
    <root level="info">
        <appender-ref ref="console" />
    </root>
</configuration>