# Maven build targets
target/

# Maven release files
*.releaseBackup
release.properties

# Eclipse specific
.project
.settings/
.prefs
.classpath
.apt_generated/
.apt_generated_tests/

# IntelliJ IDEA specific
.idea/
*.iml

# VS Code
.factorypath
.vscode

# Velocity.log
velocity.log

# Generated docs
documentation/html/**
documentation/pdf/**
documentation/htmlnoheader/**
documentation/**/build/**
master.html

helm-charts/helm3/strimzi-kafka-operator-*.*.*.tgz
packaging/helm-charts/helm3/strimzi-kafka-operator-*.*.*.tgz

tools/olm-bundle/bundle

docker-images/artifacts/binaries
docker-images/container-archives
docker-images/kafka-based/kafka/.*.tmp
docker-images/kafka-based/kafka/tmp/**
docker-images/operator/.*.tmp
docker-images/operator/tmp/**


# Connect plugin (tests)
systemtest/*.tar.gz
systemtest/my-plugins/
systemtest/scripts/results.json

# MacOS Desktop Services Store files
**/.DS_Store

# Hacking directory with different script utilities and more complex YAML examples used by developers for development and testing
/hacking/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Cluster operator config models
**/cluster-operator/src/main/resources/kafka-*-config-model.json
