# Maven build targets
**/target/*

# Maven release files
*.releaseBackup
release.properties

# Eclipse specific
**/.project
**/.settings/*
**/.prefs
**/.classpath
/target/

# IntelliJ IDEA specific
.idea/
*.iml

# VS Code
.factorypath

# Velocity.log
velocity.log

# Generated docs
documentation/html/**
documentation/htmlnoheader/**
documentation/book/build/**

helm-charts/strimzi-kafka-operator-*.*.*.tgz

# Connect plugin (tests)
systemtest/*.tar.gz
systemtest/my-plugins/
