apiVersion: apps/v1
kind: Deployment
metadata:
  name: strimzi-cluster-operator
  labels:
    app: strimzi
spec:
  replicas: 1
  selector:
    matchLabels:
      name: strimzi-cluster-operator
      strimzi.io/kind: cluster-operator
  template:
    metadata:
      labels:
        name: strimzi-cluster-operator
        strimzi.io/kind: cluster-operator
    spec:
      serviceAccountName: strimzi-cluster-operator
      volumes:
        - name: strimzi-tmp
          emptyDir:
            medium: Memory
            sizeLimit: 1Mi
        - name: co-config-volume
          configMap:
            name: strimzi-cluster-operator
      containers:
        - name: strimzi-cluster-operator
          image: docker.io/shubhamrwt/operator:latest
          ports:
            - containerPort: 8080
              name: http
          args:
            - /opt/strimzi/bin/cluster_operator_run.sh
          volumeMounts:
            - name: strimzi-tmp
              mountPath: /tmp
            - name: co-config-volume
              mountPath: /opt/strimzi/custom-config/
          env:
            - name: STRIMZI_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: STRIMZI_FULL_RECONCILIATION_INTERVAL_MS
              value: "120000"
            - name: STRIMZI_OPERATION_TIMEOUT_MS
              value: "300000"
            - name: STRIMZI_DEFAULT_TLS_SIDECAR_ENTITY_OPERATOR_IMAGE
              value: docker.io/shubhamrwt/kafka:latest-kafka-3.6.1
            - name: STRIMZI_DEFAULT_KAFKA_EXPORTER_IMAGE
              value: docker.io/shubhamrwt/kafka:latest-kafka-3.6.1
            - name: STRIMZI_DEFAULT_CRUISE_CONTROL_IMAGE
              value: docker.io/shubhamrwt/kafka:latest-kafka-3.6.1
            - name: STRIMZI_KAFKA_IMAGES
              value: |
                3.5.0=docker.io/shubhamrwt/kafka:latest-kafka-3.5.0
                3.5.1=docker.io/shubhamrwt/kafka:latest-kafka-3.5.1
                3.5.2=docker.io/shubhamrwt/kafka:latest-kafka-3.5.2
                3.6.0=docker.io/shubhamrwt/kafka:latest-kafka-3.6.0
                3.6.1=docker.io/shubhamrwt/kafka:latest-kafka-3.6.1
            - name: STRIMZI_KAFKA_CONNECT_IMAGES
              value: |
                3.5.0=docker.io/shubhamrwt/kafka:latest-kafka-3.5.0
                3.5.1=docker.io/shubhamrwt/kafka:latest-kafka-3.5.1
                3.5.2=docker.io/shubhamrwt/kafka:latest-kafka-3.5.2
                3.6.0=docker.io/shubhamrwt/kafka:latest-kafka-3.6.0
                3.6.1=docker.io/shubhamrwt/kafka:latest-kafka-3.6.1
            - name: STRIMZI_KAFKA_MIRROR_MAKER_IMAGES
              value: |
                3.5.0=docker.io/shubhamrwt/kafka:latest-kafka-3.5.0
                3.5.1=docker.io/shubhamrwt/kafka:latest-kafka-3.5.1
                3.5.2=docker.io/shubhamrwt/kafka:latest-kafka-3.5.2
                3.6.0=docker.io/shubhamrwt/kafka:latest-kafka-3.6.0
                3.6.1=docker.io/shubhamrwt/kafka:latest-kafka-3.6.1
            - name: STRIMZI_KAFKA_MIRROR_MAKER_2_IMAGES
              value: |
                3.5.0=docker.io/shubhamrwt/kafka:latest-kafka-3.5.0
                3.5.1=docker.io/shubhamrwt/kafka:latest-kafka-3.5.1
                3.5.2=docker.io/shubhamrwt/kafka:latest-kafka-3.5.2
                3.6.0=docker.io/shubhamrwt/kafka:latest-kafka-3.6.0
                3.6.1=docker.io/shubhamrwt/kafka:latest-kafka-3.6.1
            - name: STRIMZI_DEFAULT_TOPIC_OPERATOR_IMAGE
              value: docker.io/shubhamrwt/operator:latest
            - name: STRIMZI_DEFAULT_USER_OPERATOR_IMAGE
              value: docker.io/shubhamrwt/operator:latest
            - name: STRIMZI_DEFAULT_KAFKA_INIT_IMAGE
              value: docker.io/shubhamrwt/operator:latest
            - name: STRIMZI_DEFAULT_KAFKA_BRIDGE_IMAGE
              value: docker.io/shubhamrwt/kafka-bridge:0.27.0
            - name: STRIMZI_DEFAULT_KANIKO_EXECUTOR_IMAGE
              value: docker.io/shubhamrwt/kaniko-executor:latest
            - name: STRIMZI_DEFAULT_MAVEN_BUILDER
              value: docker.io/shubhamrwt/maven-builder:latest
            - name: STRIMZI_OPERATOR_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: STRIMZI_FEATURE_GATES
              value: ""
            - name: STRIMZI_LEADER_ELECTION_ENABLED
              value: "true"
            - name: STRIMZI_LEADER_ELECTION_LEASE_NAME
              value: "strimzi-cluster-operator"
            - name: STRIMZI_LEADER_ELECTION_LEASE_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: STRIMZI_LEADER_ELECTION_IDENTITY
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          livenessProbe:
            httpGet:
              path: /healthy
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /ready
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
          resources:
            limits:
              cpu: 1000m
              memory: 384Mi
            requests:
              cpu: 200m
              memory: 384Mi
